* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.fpfp{
    float: left;
    width: 50%;
    margin: 0 2rem;
}
@media (max-width: 608px) {
    .fpfp {
        float: none;
        width: calc(100% - 4rem);
    }
}
          body {
                font-family: "Sorts Mill Goudy", serif;
                max-width: 45rem;
                margin: 0 auto;
                padding: 0 1rem;
                margin-bottom: 10rem;
            }
            #about p{
                text-align: justify;
            }
            h1, h2, h3, h4, h5, h6 {
                font-weight: normal;
            }

            h1{
                text-align: center;
                font-size: 2.4em;
            }
            h2 {
                text-align: center;
            }
            h3 {
                font-size:  1.8em;
            }
            h4 {
                font-size: 1.2em;
            }
            h5 {
                font-size: 1em;
            }
            li {
                list-style-type: none;
            }
            ul.bullet > li {
                list-style-type: disc;
            }
            .date {
                font-style: italic;
            }
            #resume p {
                margin-top: 0;
            }
            h3, h4, h5 {
                margin: .5em 0 0 0;
            }
            header {
                border-bottom: .063rem solid black;
            }

            .header {
                margin: .5em 0 0 0;
                text-align: center;
                font-style: italic;
            }

            .head {
                margin: .5em 0 0 0;
                text-align: center;
                font-size: 2.5em;
            }

            .hnav {
                font-size: 1.2em;
            }
           
            .hnav ol {
                display: flex;
                justify-content: center;
            }

            .hnav li {
                list-style-type: none;
                margin: 0 1.5rem;
                display: inline-block;
                text-align: center;               
            }
            .hnav li.current a {
                text-decoration: underline;
            }
            .hnav li a:hover, .hnav li a:hover {
                text-decoration: underline;
            }


            .hbnav li a:hover, .hnav li a:hover {
                text-decoration: underline;
            }

.hnav a {
    color: black;
    text-decoration: none;
}


.hblink {
    font-size: 1.2em;
    text-align: center;
}
.hbnav {
    text-align: center;
    font-size: 1.1em;
}
.hbnav a {
    color: black;
    text-decoration: none;
}


@media print {
    .hnav, .hblink, .hbnav{
        display: none;
    }

    .print-hide {
        display: none;
    }
}
@media screen {
    .screen-hide {
        display: none;
    }
}
.bio{
    font-size: .95em;
}




